<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="<%= chuo.name %> | Programmes & Courses, Admission requirements, University capacity & Cutting points">
    <title>
        <%= chuo.name %> Admission Requirements, Capacity, Cutting Points and Programmes/Courses Duration (Years)
    </title>
    <%- include('./partials/style.ejs'); %>
    <%- include('../0-global/style.ejs'); %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%- include('../0-global/favicon.ejs') %>
    <%- include('./partials/telegram/style.ejs'); %>
</head>

<body>
    <%- include('../0-global/header.ejs'); %>
    <main>
        <section class="left">
            <%- include('../0-global/ads/320-ad.ejs'); %>
            <div class="subiri-cont">
                <%- include('./partials/telegram/subiri.ejs'); %>
            </div>
            <h1 class="h2" style="font-size: 16px;">
                <%= chuo.name %> Programmes and Courses | Admission Requirements and Cutting points.
            </h1>

            <div class="about" itemscope itemtype="https://schema.org/CollegeOrUniversity"
                style="padding: 12px; text-align: justify;">
                <p>
                    <%= chuo.name %> is located in
                    <b itemprop="location"><%= chuo.location %></b>
                    with the registration code of
                    <b itemprop="leiCode"><%= chuo.code %></b>
                    and has a
                    <b itemprop="ownershipFundingInfo"><%= chuo.owner.toLowerCase() %></b>
                    ownership status.
                </p>
                <p>
                    <span itemprop="legalName"><%= chuo.name %> </span> is a Higher Education Institution in Tanzania
                    with institution registration type of <b>"<%= chuo.type %>"</b> approved to admit undergraduate
                    students for various programmes as listed and elaborated below.
                </p>
            </div>

            <div class="table-of-cont">
                <h1>Table of Contents</h1>
                <ol>
                    <% chuo.programmes.forEach((el, id)=> { %>
                    <li><a href="#<%= el.pr_code %>">
                            <%= el.pr %>
                        </a></li>
                    <% }) %>
                </ol>
            </div>
            <br><br><br>
            <div class="routes">
                <% chuo.programmes.forEach((pr, ind)=> { %>
                <div class="route" itemscope>
                    <h2 class="title" id="<%= pr.pr_code %>">
                        <%= ind + 1 %>.
                        <%= pr.pr %>
                    </h2>
                    <ul itemprop="description">
                        <li>
                            <h3>Programme Code: </h3>
                            <span>
                                <%= pr.pr_code %>
                            </span>
                        </li>
                        <li>
                            <h3>Programme's Admission Requirements: </h3>
                            <span>
                                You can only be admitted in
                                <%= pr.pr %> at <%= chuo.name %>
                                with
                                <%= pr.add_req %>
                            </span>
                        </li>
                        <li>
                            <h3>Programme's Admission Capacity: </h3>
                            <span>
                                <%= chuo.name %> can only admit <b>
                                    <%= pr.add_cap %> students
                                </b> under <%= pr.pr %> .
                            </span>
                        </li>
                        <li>
                            <h3>Minimum Admission Points: </h3>
                            <span class="pts" style="font-weight: bold;">
                                <%= pr.min_points %>
                            </span>
                        </li>
                        <li>
                            <h3>Programme Duration:</h3>
                            <span>
                                <%= pr.pr %> at <%= chuo.name %> has a duration of
                                <b><%= pr.duration %> years</b>.
                            </span>
                        </li>
                    </ul>
                    <div class="kimstari"></div>
                </div>
                <% }) %>
            </div>
            <div id="toAds"></div>
            <%- include('../0-global/ads/native-ad.ejs'); %>
            <div class="ds-tg-points">

            </div>
            <div class="ds-tg-table">

            </div>
            <div class="ds-tg-file">
                <%- include('./partials/telegram/ds-file.ejs'); %>
            </div>
            <div class="oh-tg-file">
                <%- include('./partials/telegram/oh-file.ejs'); %>
            </div>
            <div class="others">
                <%- include('./partials/all-uni.ejs'); %>
            </div>
        </section>

        <%- include('../0-global/right.ejs'); %>
    </main>

    <%- include('../0-global/footer.ejs'); %>

    <%- include('./partials/script.ejs'); %>
    <%- include('../0-global/script.ejs'); %>
    <%- include('./partials/telegram/script.ejs'); %>

    <!-- propellar vignette -->
    <script>(function (d, z, s) { s.src = 'https://' + d + '/401/' + z; try { (document.body || document.documentElement).appendChild(s) } catch (e) { } })('goomaphy.com', 5089020, document.createElement('script'))</script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>